* { font-family: "Lato" !important; }

.glyphicon{	font-family:'Glyphicons Halflings' !important; }

body {
  background-image: url('../img/fondo_2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: #ff0000;
}

.lead {
	margin-bottom: 25px;
}

.btn-quored {
	width: 160px;
	height: 160px;
	color: white;
	background-color: transparent;
	/*padding-top: 130px !important;*/
}

.btn-quored:hover,
.btn-quored:focus {
	color: red;
}

 .a-popover {
 	text-shadow: none;
	color: red;
	font-weight: bold;
}

.a-popover:hover {
	color: red;
	text-decoration: underline;
}

#a-blog:hover,
#a-blog:focus {
	color: #777777;
}

.btn-ella {
	background: url('../img/ella_b.png') no-repeat center 40px;
}

.btn-ella:hover,
.btn-ella:focus {
	background: white url('../img/ella.png') no-repeat center 40px;
}

.btn-corazon {
	background: url('../img/corazon_b.png') no-repeat center 40px;
}

.btn-corazon:hover,
.btn-corazon:focus {
	background: white url('../img/corazon.png') no-repeat center 40px;
}

.btn-el {
	background: url('../img/el_b.png') no-repeat center 40px;
}

.btn-el:hover,
.btn-el:focus {
	background: white url('../img/el.png') no-repeat center 40px;
}

.btn-blog {
	background: url('../img/blog_b.png') no-repeat center center;
}

.btn-blog:hover,
.btn-blog:focus {
	background: white url('../img/blog.png') no-repeat center center;
}


.popover {
	border-color: white;
	color: red;
}

.popover.bottom>.arrow {
	border-bottom-color: white;
}

.inner > p {
	text-shadow: 0 1px 1px rgb(0,0,0);
}